.movie-item{
    margin-top: 30px;
    margin-left:20px;
    flex:1;
    flex-direction: column;
    height: 12%;
    width: 12%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding:1%;
}

.unbounded-font{
    font-family: 'Unbounded', cursive;
}

.movie-poster{
    max-width: 100%;
}