@import url('https://fonts.googleapis.com/css?family=Unbounded');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn {

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 20%;
}

.chosen-category-container {
  margin-top: 20px;
  flex-direction: column;
  margin-left: 20px;
  float: left;
}

.btn-ok {
  background-color: #2d55ff;
}

.btn-cancel {
  background-color: #d91e18;
}

.favourite-container {
  border-collapse: collapse;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 90%;
  margin: 0 auto;

}

.favourite-container thead tr {
  background-color: #2d55ff;
  color: #ffffff;

}

.favourite-container th,
.favourite-container td {
  padding: 12px 15px;
}

.favourite-container tbody tr {
  border-bottom: 1px solid #dddddd;
}

.favourite-container tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.favourite-container tbody tr:last-of-type {
  background-color: white;
}

.favourite-container tbody tr:hover {
  background-color: white;
}

/* .favourite-container, th, td{
  border:1px solid black;
  border-collapse: collapse;
  padding: 6px;
} */

.genre-container {
  margin-top: 2%;
}

.course-card {
  background: #ffffff;
  border-radius: 25px;
  width: 100%;
  height: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  margin: 10px;
  transition: 0.25s ease-in-out;
}

.course-card-img {
  width: 100%;
  height: 225px;
  border-radius: 25px 25px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-card-content {
  display: flex;
  align-items: center;
  text-align: center;
}